[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
pyrsistent = "*"
ntplib = "*"
plyvel = "*"
py-solc = "*"
pyyaml = "*"
toml = "*"
sqlalchemy = "*"
flask = "*"
arrow = "*"
cython = "*"
gevent = {git = "git://github.com/gevent/gevent.git"}
goless = "*"
flask-restful = "*"
web3 = "*"

[requires]
python_version = "3.8"

[scripts]
site = "python -m tourbillon.wind"
test = "python -m pytest"
safe = "python -m tourbillon.safe"
